/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
.navbar {
    background-color: #00a3e0;
    color:#0033a0;
    padding: 10px 0;
    border: solid 2px #0033a0 ;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 24px;
    color:white;
    text-decoration: none;
    margin-left: 20px;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-item {
    margin-right: 20px;
    text-decoration: none;
}
.nav-link {
    color:white;
    text-decoration: none;
    transition: color 0.3s;
    position:relative;
    
}
.nav-link:hover {
    color: #BBDEFB;
    
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    z-index: 1;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.dropdown-menu li {
    padding: 10px;
}
.dropdown-menu a {
    color:white;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    background-color: #555;
}
a{
    text-decoration: none;
    color:white;
   
}
.logo-sura{
    width: 100px;
    height: 100px;
    position: relative;
    right: 20px;
}
.logo-empresa{
    position: relative;
    left: 60px;
    top: 15px;
}
.nav-link{
    position: relative;
    right: 50px;
}
.Acerca{
    position: relative;
    right: 15px;
}
.logo-mitad{
    height: 100px;
    width: 100px;
    position: relative;
    object-fit: contain;
    right: 200px;
    bottom: 25px;

}